{{#loginResult}}    
    <div role="presentation" class="dropdown navbar-menu-dropdown navbar-right">
        <a class="dropdown-toggle menu-dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {{name}} <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="javascript:void(0)" id="logout-btn">Logout</a></li>
        </ul>
    </div>
    <div class="navbar-menu-items navbar-right">
        <img src="assets/img/{{profile}}">
    </div>
    <a href="" class="navbar-menu-items navbar-right"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a>
    <a href="" class="navbar-menu-items navbar-right"><i class="fa fa-comments-o icon-badge" aria-hidden="true"><span class="badge badge-danger">2</span></i></a>
    <a href="" class="navbar-menu-items navbar-right"><i class="fa fa-bell-o  icon-badge" aria-hidden="true"><span class="label label-danger">1</span></i></a>
    <a href="" class="navbar-menu-items navbar-right"><i class="fa fa-search" aria-hidden="true"></i></a>
{{/loginResult}}    