<div class="container">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">Able</a>
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#burgermenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="burgermenu">
    </div>    
</div>    