<div class="timeline-posts-wrap clearfix" >
    <div class="timeline-gallery-wrap">
        <div class="timeline-gallery-container">
            <div class="timeline-gallery">
                {{#allPhotos}}
                    <img src="{{pic}}">
                {{/allPhotos}}
            </div>
        </div>
    </div>
</div>    