 <div class=" container-fluid profile-container">
    <h2 class="timeline-heading">Profile Social</h2>
    <ol class="profile-breadcrumb">
        <li><a href="javascript:void(0)"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li>&gt;&gt;</li>
        <li class=""><a href="javascript:void(0)">Extras</a></li>
        <li>&gt;&gt;</li>
        <li class="active">Profile Social</li>
    </ol>
    <div id="banner" class="banner">
        <img class="banner-img" src="assets/img/hero-img.jpg">
        <div class="friend-user-data">
            <div class="profile-data-container clearfix" id="user-profile-tab">
                    
            </div>
            <div id="user-profile-friends">
        
            </div>    
        </div>
    </div>
    <div class="timeline-container clearfix">
        <button class="navbar-toggle collapsed timeline-menu-toggle" data-toggle="collapse" data-target="#timeline-menu-bar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <ul class="collapse navbar-collapse nav nav-pills nav-justified timeline-bar" id="timeline-menu-bar">
            <li class="active"><a href="javascript:void(0)">Timeline</a></li>
            <li><a href="javascript:void(0)">About</a></li>
            <li><a href="javascript:void(0)">Photos</a></li>
            <li><a href="javascript:void(0)">Friends</a></li>
        </ul>
        <div id="timeline-wrap">
            
        </div>
    </div>
</div>